<div id="about">
  <h2>The Naming Together Story</h2>
  <p>In May 2009, my husband and I discovered that we were expecting our third baby. We worked diligently at choosing the names for our first two children, Serenity and Sébastien, and we immediately began to look forward to naming our third baby. I put together a google spreadsheet that I shared with family and friends and asked them to share their name suggestions with us.</p>
  <p>We saw the limitations of using a spreadsheet right away. It wasn't easy for people to leave comments about names, they couldn't rate existing names, and it started to look messy and convoluted. I realized that this could be better handled with a web application, but to my surprise, couldn't find an existing one that did it really simply.</p>
  <p>So, Naming Together was born out of this need. From its inception, it was designed and purposed to be incredibly simple for both the parents and the people that they invite to help them. Naming Together is about sharing this really intimate but fun process of naming our babies with those we love. No ads, no marketing, no sleazy salesman type stuff. Just a really simple, effective application that allows us to collaborate with each other.</p>
</div>
