<h2>Welcome to NamingTogether!</h2>

<ul>
  <% if current_user %>
    <li><a href='/logout'>logout</a></li>
    <li><a href='/settings'>settings</a></li>
  <% else %>
    <li><a href='/login'>login</a></li> 
    <li><a href='/signup'>signup</a></li>
  <% end %>
</ul>

<h3>Lists</h3>

<div class='lists'>
  <% List.all.each do |list| %>
    <span><a href='<%= "lists/#{list.url}" %>'><%= list.url %></a></span>
  <% end %>
</div>
