<h2>Welcome to NamingTogether!</h2>


<h3>Lists</h3>

<div class='lists'>
  <% List.all.each do |list| %>
    <span><a href='<%= "list/#{list.to_param}" %>'><%= list.url %></a></span>
  <% end %>
</div>

<h3>Names</h3>

<div class='lists'>
  <% RootName.all.each do |name| %>
    <span class='#{name.gender}'><a href='<%= "/names/#{name.to_param}" %>'><%= "#{name.name}" %></a></span>
  <% end %>
</div>
