<div id='names'>
  <div id='male-names'>
    <h2>Boy Names</h2>
    <form action="/" method="POST" class='name_form'>
      <input type="text" name="name_name" id="name_name" rows="20" />
      <input type="hidden" name="gender_gender" id="gender_gender" value="Male"/>
      <input type="submit" value="Add boy name"/>
    </form>
		<%= partial(:name, :collection => @male_names) %>
  </div>

  <div id='female-names'>
    <h2>Girl Names</h2>
    <form action="/" method="POST" class='name_form'>
      <input type="text" name="name_name" id="name_name" rows="20" />
      <input type="hidden" name="gender_gender" id="gender_gender" value="Female"/>
      <input type="submit" value="Add girl name"/>
    </form>
		<%= partial(:name, :collection => @female_names) %>
  </div>
</div>
<br/>

