<p>Enter a unique name for your list; this will create the link that you can share with family and friends:</p>
<h3>namingtogether.com/lists/<input type="text" name="list[url]" id="list_url" value="<%= @list.url %>" /></h3>
<p>If you already know the gender of your baby, select it here. But don't worry, you can change this at any time!</p>
<input type="radio" name="list[gender]" value="male" <%= 'checked' if @list.gender == 'male' %>> Boy<br/>
<input type="radio" name="list[gender]" value="female" <%= 'checked' if @list.gender == 'female' %>> Girl<br/> 
<input type="radio" name="list[gender]" value="both" <%= 'checked' if @list.gender == 'both' %>> Both or Unknown<br/> 
<p>Add a message that will display at the top of your list page that friends and family can see. Example "We have invited you to help us in naming our baby. Add your own suggestions, rate names, and leave comments!"</p>
<textarea name="list[description]"></textarea><br/>