<h1>Login</h1>
<form action="/login" method="POST">
  <label>Email:</label>
  <input type="text" name="email" rows="20" />
  <%= clearfix %>
  <label>Password:</label>
  <input type="password" name="password" rows="20" />
  <%= clearfix %>
  <br/><input type="submit" value="Login"/>
</form>

