body
  :font-family "Helvetica"
  :font-size none
  :margin 0 auto
  :width 700px

a
  :text-decoration none

#header
  :padding-top 20px
  :padding-bottom 40px
  #logo
    :float left
  #top_links
    :float right
    ul
      li
        :display inline
        :border-right 2px solid #ccc
        :padding-right 5px
        &:last-child
          :padding-right 0px
          :border-right none
      

#footer
  :color #ccc
  :text-align center
  :font-size .8em
  :margin-top 50px

#names
  :float left
  :width 100%
  :padding-bottom 20px
  h2
    :padding-bottom 20px

.name
  :border-bottom 1px solid #ccc
  :padding-bottom 10px
  :margin-bottom 15px

#male-names
  :float left
  :width 325px

#female-names
  :float right
  :width 325px

.one-gender
  #female-names, #male-names
    :width 100%
    :padding 0px

  .name
    :width 325px

  .name.even
    :float right
  
  .name.odd
    :float left

.wide
  #female-names, #male-names
    :float none
    :width 100%
    :padding none

.female
  #female-names
    :float none
    :margin-left auto
    :margin-right auto

.male
  #male-names
    :float none
    :margin-left auto
    :margin-right auto

.name_form
  :padding-bottom 20px

.voting form, .voting span
  :float right

.clearfix
  :clear both

#comments
  :padding-bottom 10px
  h3
    :padding-bottom 10px
  .comment
    :padding-bottom 8px
    .author
      :padding-bottom 5px
      :font-size .8em
      .timestamp
        :color #bbb
    .body
      :padding-left 5px


