$boy_color: #067079
$girl_color: #7e008e
$dark_color: #333333
$medium_color: #888888
$light_color: #d3d3d3

$error_bg_color: #fbe3e4
$error_color: #8a1f11
$error_border_color: #fbc2c4

$notice_color: #514721
$notice_bg_color: #fff6bf
$notice_border_color: #ffd324

$success_color: #264409
$success_bg_color: #e6efc2
$success_border_color: #c6d880

=rounded_bottom_corners
  -moz-border-radius-bottomleft: 8px
  -moz-border-radius-bottomright: 8px
  -webkit-border-bottom-right-radius: 8px
  -webkit-border-bottom-left-radius: 8px

=rounded_top_corners
  -moz-border-radius-topleft: 8px
  -moz-border-radius-topright: 8px
  -webkit-border-top-right-radius: 8px
  -webkit-border-top-left-radius: 8px

=rounded_corners
  +rounded_top_corners
  +rounded_bottom_corners

=inline_list
  li
    display: inline
    border-right: 2px solid #d4d4d4
    padding-right: 5px
    &:last-child
      padding-right: 0px
      border-right: none

body
  font-family: Geneva, Verdana, sans-serif
  font-size: none
  margin: auto
  width: 800px
  color: $dark_color

p
  padding-bottom: 8px
  font-size: 14px

h2
  padding-bottom: 10px

a
  text-decoration: none
  color: $boy_color
  &:visited
    color: $boy_color

#outer-wrapper
  padding-top: 20px
  #wrapper
    #content
      position: relative

#flash-container
  position: absolute
  top: 5px

#top_links
  a
    color: $light_color
    &:hover
      color: $dark_color
  .active a
    color: $medium_color
    &:hover
      color: $dark_color

#header
  border-top: 1px solid #d4d4d4
  padding-bottom: 20px
  background: url(/images/gradient.png) repeat-x left bottom
  h1
    padding-top: 5px
    padding-bottom: 5px
    float: left
    &#logo a
      display: block
      background: url(/images/logo.png) no-repeat left top
      text-indent: -999em
      width: 325px
      height: 60px
  ul#navigation
    +inline_list
    float: right
    padding-top: 23px
    font-size: 1.4em
    li
      border: none
      padding-left: 10px

#top_links
  text-align: right
  padding-bottom: 10px
  ul
    +inline_list

#footer
  padding-top: 8px
  background: url(/images/gradient.png) repeat-x left top
  color: $light_color
  text-align: center
  font-size: 0.8em
  margin-top: 30px
  margin-bottom: 50px
  a
    color: $medium_color
    &:hover
      color: $dark_color

#names
  margin: auto
  width: 80%
  padding-bottom: 20px
  h3 a
    color: $dark_color

.name
  border-bottom: 1px solid #cccccc
  padding-bottom: 10px
  margin-bottom: 15px
  position: relative
  .info
    display: none
  .left_column
    float: left
  .right_column
    position: absolute
    right: 0px
    bottom: 0px
  .admin
    float: right
  h3
    font-size: 1.5em
    font-weight: normal
    padding-bottom: 5px
    a
      color: $dark_color

#male-names
  float: left
  width: 285px
  a
    color: $boy_color

#female-names
  float: right
  width: 285px
  &.etymology
    float: none
  a
    color: $girl_color

.one-gender
  #female-names, #male-names
    width: 100%
    padding: 0px
  .name
    width: 285px
  .name.even
    float: right
  .name.odd
    float: left

.wide
  width: 80%
  margin: auto
  #female-names, #male-names
    float: none
    width: 100%
    padding: none
  .comment_count
    display: none
  .name
    h3
      float: left
      font-size: 2.5em
      a
        color: $dark_color
    .info
      display: block
      font-size: 12px

.female
  #female-names
    float: none
    margin: auto

.male
  #male-names
    float: none
    margin: auto

.button
  +rounded_corners
  color: black
  font-size: 12px
  background-color: #dddddd
  border: 1px solid
  border-color: #aaaaaa
  padding-top: 2px
  padding-bottom: 2px
  padding-left: 5px
  padding-right: 5px
  &:visited
    color: black

form
  input[type=submit]
    +rounded_corners
    background-color: #dddddd
    border: 1px solid
    border-color: #aaaaaa
    padding-top: 2px
    padding-bottom: 2px
    padding-left: 5px
    padding-right: 5px

.name_form
  width: 285px
  padding-bottom: 40px
  input[type=submit]
    float: right
  input[type=text]
    margin-bottom: 5px
    width: 100%

.voting form, .voting span
  float: right

.clearfix
  clear: both

#comments
  padding-bottom: 10px
  h3
    padding-bottom: 10px
  .comment
    padding-bottom: 20px
    .author
      padding-bottom: 5px
      font-size: 0.8em
      .timestamp
        color: #bbbbbb
    .body
      padding-left: 5px

.message
  text-align: center
  padding-top: 20px
  padding-bottom: 30px
  width: 80%
  margin: auto

.share
  color: $medium_color
  text-align: left
  font-size: 0.9em
  margin-top: -12px
  padding-bottom: 10px
  a
    color: $medium_color
    &:hover
      color: $dark_color

input[type=text], input[type=password], textarea
  +rounded_corners
  border: 1px solid
  border-color: $medium_color
  padding: 5px
  font-size: 1.2em
  font-weight: bold

textarea
  width: 325px
  margin-bottom: 5px

label
  display: block
  float: left
  padding-right: 5px
  padding-top: 10px
  text-align: right
  width: 125px

input[type="submit"]
  &.important
    background-color: $error_bg_color
    color: $error_color
    border: 1px solid

#lists
  h2
    padding-bottom: 10px
  ul
    margin-bottom: 15px
  li
    padding: 5px
    border-color: $error_border_color

#login, #signup
  width: 50%
  margin: auto
  text-align: right
  input, h2
    margin-bottom: 5px

.list_form
  p
    margin-bottom: 10px
    margin-top: 10px

#new_list, #edit_list
  h2
    padding-top: 10px

#homepage
  p
    padding-bottom: 8px
  .lists, .names
    font-size: 1.2em
    margin-bottom: 10px
    .female a
      color: $girl_color
    .male a
      color: $boy_color
    .both a
      color: $medium_color

#comment_form
  width: 75%
  text-align: right
  input[type=text]
    width: 325px
    margin-bottom: 5px
  h3
    margin-bottom: 5px
